@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

.quote-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c3032; /* Adjust the background color as needed */
    width: 100%; /* Full width */
    height: 100vh; /* Full viewport height */
    padding: 1px;
}

.quote-form-container {
    font-family: 'EB Garamond', serif;
    background-color: #d6ccbf; /* Light background for the form */
    width: 100%;
    max-width: 500px; /* Slightly wider than the login container */
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.quote-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.quote-form h2 {
    color: #2b2d42; /* Dark text color for headings */
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    color: #2b2d42;
    font-weight: bold;
}

.form-group input, .form-group select {
    padding: 10px;
    border: 1px solid #8d99ae;
    border-radius: 4px;
    outline: none;
}

.form-group input:focus, .form-group select:focus {
    border-color: #cca782; /* Highlight color for focus */
}

.submit-button {
    font-family: 'EB Garamond', serif;
    background-color: #8e1919; /* Consistent button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #8e1919; /* Darken on hover */
}
